<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{page.title}}</title>
    <link rel="stylesheet" media="screen" href="/assets/css/master.css"/>
  </head>
  <body>
    <div id="container"> 
      <header class="group">
        <h1 class="logo"><a href="/">QVDev Blog</a></h1>
        {% include JB/profile_widgets %}
      </header>
      <div id="content">      		
        <section id="main" class="group">
        	<u><b>{{page.title}}</b></u><span class="post-date"> &raquo; {{ page.date | date_to_string }} tags:{{page.tags}}</span>
        	<br>        	
          	{{ content }}
          <div>
          {% include JB/comments_widget %}
			<br>	             
			<a href="/">Back Home</a>
          </div>
        </section>
      </div>      
     
    </div>
    	{% include JB/getclicky_widget %}
  </body>
</html>

